.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  font-size: 16px;
  margin-top: 20px;
}

.message {
  font-size: 16px;
  margin-top: 20px;
  color: gray;
}

.footer {
  font-size: 14px;
  margin-top: 20px;
  color: gray;
  text-align: center;
}

.unit-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.unit-switch label {
  margin-right: 0.5rem;
}

.unit-switch input[type="radio"] {
  display: none;
}

.unit-switch input[type="radio"] + span {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
}

.unit-switch input[type="radio"]:checked + span {
  color: white;
  background-color: black;
}
